/* formatting for about page (landing page) */

#about-page{
    margin-top: 80px;
}

/* logo on about page */

#about-page img{
    width: 650px;
    height: auto;
    display: block;
    margin: auto;
}


#about-page li{
    list-style-type: square;
    list-style-position: inside;
}


