/* formatting for about page (landing page) */

#about-page{
    margin-top: 80px;
}

/* logo on about page */

#about-page img{
    width: 650px;
    height: auto;
    display: block;
    margin: auto;
}

/*
#about-page ul{
	list-style-type: disc !important;
}
*/

#about li:before {
  content: "•"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: blue; /* Or a color you prefer */
}

