#circle{
    float: left;
    margin-left: 60px;
}

#submit-form{
    float: right;
    margin-right: 220px;
    margin-top: 90px;
    width: 400px;
}

#submit-form p{
    font-size: 17px;
    margin: 0;
    font-weight: bold;
}

#submit-form button {
    margin: 5px 15px 0 0;
    background-color: #00356B;
    color: white;
    border: none;
    padding: 15px 30px;
}

#submit-form button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: #00356B;
}

#submit-form input {
    display: inline-block;
    width: 100%;
}

#submit-form label {
    font-size: 13px;
    color: grey;
    font-weight: normal;
}
