/* formatting for mt-DNA (gene tool) */

#circle text{
    font-family: sans-serif;
}

/* left-hand side */

#gene-tool #left-container{
    margin-left: 50px;
    margin-top: 20px;
    width: 50%
}

#gene-tool #notes {
    margin-left: 0px;
    margin-bottom: 10px;
    width: 90%;
}

#gene-tool #notes>i{
    color: gray;
}

#gene-tool #notes p{
    margin: 0;
}



/* the input form on the right */ 

#submit-form{
    float: right;
    margin-right: 220px;
    margin-top: 110px;
    width: 400px;
}

#submit-form p{
    font-size: 17px;
    margin: 0;
    font-weight: bold;
}

#submit-form button {
    margin: 5px 15px 0 0;
    background-color: #00356B;
    color: white;
    border: none;
    padding: 15px 30px;
}

#submit-form button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: #00356B;
}

#submit-form input {
    display: inline-block;
    width: 100%;
}

#submit-form label {
    font-size: 13px;
    color: grey;
    font-weight: normal;
}
