body {
    font-family: sans-serif;
}

nav {
    background-color: #00356B !important;
    padding: 0 10rem;
    border: 0;
}

nav ul li:hover {
    background-color: lightblue;
    color: #00356B;
}

.active {
    font-weight: bold;
}

/* logo on navbar */
nav img{
    width: 200px;
    height: auto;
    vertical-align: middle;
}



