
/* general formatting RnaPages.css */

#left-container{
    margin-left: 230px;
    margin-top: 100px;
    width: 500px;
    margin-right: 0;
    display: inline-block;
}

#rrna-svg #left-container{
    margin-left: 130px;
    margin-top: 30px;
    width: 650px;
}

#right-container{
    float: right;
    margin-right: 200px;
    margin-top:100px;
    width: 550px;
}

#rrna-svg #right-container{
    margin-top: 30px;
    margin-right: 120px;
}

#var-form h5, #left-container h5 {
    margin: 0;
    font-size: 21px;
    font-weight: bold;
}

#left-container h6 {
    margin: 5px 0 10px 0;
    font-size: 17px;
    font-weight: bold;
}

#rrna-svg-container {
    position: absolute;
}

#rrna-svg-container-zoom {
    position: absolute;
}

#notes {
    margin-bottom: 10px;
}

#notes li{
    font-size: 14px;
    list-style-type: square;
    list-style-position: inside;
    width: 100%;
}

#bottom-section{ /* notes and download button for rrna */
    position: relative;
    margin: 0;
    top: 650px;
}

#citation-note {
    font-size: 14px;
    margin-top: 5px;
}





/* svg formatting for tRNA */

#svg-container line {
    stroke: #000000;
    stroke-width: 1;
    stroke-linecap: round
}

#svg-container circle {
    fill: #000000
}

#svg-container text {
    font-size: 12px;
    fill: #000000;
    font-family: monospace;
    font-weight: normal;
    text-anchor: middle;
    alignment-baseline: middle;
}

/* svg formatting for rRNA */

#rrna-svg-container line, #rrna-svg-container-zoom line {
    stroke: #000000;
    stroke-width: 1;
    stroke-linecap: round
}

#rrna-svg-container circle, #rrna-svg-container-zoom circle {
    fill: #000000;
}

#rrna-svg-container text, #rrna-svg-container-zoom text{
    fill: #000000;
    font-family: monospace;
    font-weight: normal;
    text-anchor: middle;
    alignment-baseline: middle;
    /* font-size is different depending on the rRNA */
}

#rrna-svg-container path, #rrna-svg-container-zoom path{
    stroke: black;
    fill: transparent;
}






#var-form p{
    margin: 5px 0;
    font-size: 15px;
}

#var-form button {
    margin: 5px 15px 0 0;
    background-color: #00356B;
    color: white;
    border: none;
    padding: 15px 30px;
}

#var-form button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: #00356B;
}

#var-form input {
    display: inline-block;
    width: 80%;
}

#var-form label {
    font-size: 13px;
    color: grey;
    font-weight: normal;
}







#var-info-table {
    width: 100%;
    margin-bottom: 30px;
}

#var-info-table .left-col {
    width: 180px
}

#var-info-table label {
    padding-left: 5px
}

#var-info-table label:hover {
    text-decoration: underline;
    cursor: pointer;
}

#var-info-table #expanded + p {
    margin: 0;
    display: inline;
}

#var-info-table span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

#var-info-table input:checked + p span {
    -webkit-line-clamp: unset;
}

#var-info{
    font-size: 15px;
    width: 80%;
    margin-top: 25px;
}








/* tRNA svg after variant is submitted */
/* NOTE: all selectors in this section need to be the svg container or inside the svg container, in order for save-svg-as-png to work as expected*/

#svg-container #highlight { /* letter highlight on svg */
    font-weight: bold;
    font-size: 15px;
    fill: crimson;
}

#svg-container #highlight-background{ /* circle highlight on svg */
    fill: yellow;
}

#svg-container #highlight-circle{ /* new circle when a WC pair is disrupted */
    fill: crimson;
}

#svg-container #highlight-line{ /* new line when a WC pair is created */
    stroke: crimson;
    stroke-width: 1;
    stroke-linecap:;
}

/* the legend of variant id added to the RNA svg */
#svg-container #var-legend {
    font-size: 12px ;
    font-weight: bold;
    text-anchor: start;
    font-family: sans-serif;
}

/* rRNA svg after variant is submitted */

/* letter highlight on svg */
#rrna-svg-container-zoom #highlight {
    font-weight: bold;
    fill: crimson;
}

/* circle highlight on svg */
#rrna-svg-container-zoom #highlight-background{
    fill: yellow;
}

/* new circle when a WC pair is disrupted */
#rrna-svg-container-zoom #highlight-circle{
    fill: crimson;
}

/* new line when a WC pair is created */
#rrna-svg-container-zoom #highlight-line{
    stroke: crimson;
    stroke-width: 1;
    stroke-linecap:;
}







/* download svg as png button */

#download-btn {
    width: 200px;
    height: 45px;
    font-size: 15px;
    background-color: #00356B;
    color: white;
    border: none;
}

#download-btn:hover{
    background-color: lightblue;
    cursor: pointer;
    color: #00356B;
}

#select-download{
    position: relative;
    left: 20px;
    top: 10px;
    display:inline-block;
}

#select-download span{
    font-size: 13px;
    padding-left: 25px;
    margin-right: 15px;
    color: grey;
}

#select-download p{
    margin: 0;
}






/* for the question mark helpbox */

.help-tip{
    position: absolute; 
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 13px;
    line-height: 16px;
    cursor: default;
    display: inline-block;
    margin-left: 5px;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    z-index: 10;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;

}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: cornflowerblue;
    padding: 20px;
    width: 300px !important;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help-tip p a{
    color: lightgray;
}

.help-tip p a:hover{
    text-decoration: underline;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:cornflowerblue;
    right:10px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}









