/* the legend of variant id added to the RNA svg */
#var-legend {
    font-size: 12px;
    font-weight: bold;
    text-anchor: start;
}

/* letter highlight on svg */
#highlight {
    font-weight: bold;
    font-size: 15px;
    fill: crimson;
}

/* circle highlight on svg */
#highlight-background{
    fill: yellow
}

/* new circle when a WC pair is disrupted */
#highlight-circle{
    fill: crimson
}

/* new line when a WC pair is created */
#highlight-line{
    stroke: crimson;
    stroke-width: 1;
    stroke-linecap: round
}