/* General formatting */
#trna-visualization-svg #left-container{
    margin-left: 230px;
    margin-top: 100px;
    width: 500px;
    margin-right: 0;
    display: inline-block;
}

#rrna-visualization-svg #left-container{
    margin-left: 130px;
    margin-top: 80px;
    width: 650px;
}

#trna-visualization-svg #right-container{
    float: right;
    margin-right: 200px;
    margin-top:100px;
    width: 550px;
}

#rrna-visualization-svg #right-container{
    margin-top: 100px;
    margin-right: 120px;
}








#visualize-form p {
    margin: 0;
}

#visualize-form h5 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

#visualize-form h6 {
    font-weight: bold;
}

#visualize-form .help-tip p {
    font-weight: normal;
}

#visualize-form button {
    margin: 5px 15px 0 0;
    background-color: #00356B;
    color: white;
    border: none;
    padding: 15px 30px;
}

#visualize-form button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: #00356B;
}


.highlight {
    font-weight: bold !important;
    fill: red !important;
}

.disease-mitomap-confirmed {
    font-weight: bold !important;
    fill: red !important;
}

.disease-mitomap-reported {
    font-weight: bold !important;
    fill: red !important;
}

.disease-clinvar-patho {
    font-weight: bold !important;
    fill: red !important;
}

.disease-clinvar-uncertain {
    font-weight: bold !important;
    fill: red !important;
}

.disease-clinvar-benign {
    font-weight: bold !important;
    fill: red !important;
}

