/* General formatting */
#trna-visualization-svg #left-container{
    margin-top: 5%;
    width: 500px;
    margin-right: 0%;
    display: inline-block;
}

#trna-visualization-svg #right-container{
    float: right;
    margin-top:5%;
    text-align: left;
}

#rrna-visualization-svg #left-container{
    margin-top: 5%;
    width: 650px;
}

#rrna-visualization-svg #right-container{
    margin-top: 5%;
}

#visualize-form p {
    margin: 0;
    font-size: 15px;
    width: 80%;
}

#visualize-form h5 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

#visualize-form h6 {
    font-weight: bold;
}

#visualize-form label{
    color: black;
    font-size: 15px;
}

#visualize-form .help-tip p {
    font-weight: normal;
    font-size: 13px;
}

#visualize-form button {
    margin: 5px 15px 10px 0;
    background-color: #00356B;
    color: white;
    border: none;
    padding: 15px 30px;
}

#visualize-form button:hover{
    background-color: lightblue;
    cursor: pointer;
    color: #00356B;
}



/* various highlights */

.hgroup {
    font-weight: bold !important;
    fill: red !important;
}

.other-modified{
    font-weight: bold !important;
    fill: red !important;
}

.other-folding{
    font-weight: bold !important;
    fill: red !important;
}

.disease-mitomap-confirmed {
    font-weight: bold !important;
    fill: red !important;
}

.disease-mitomap-reported {
    font-weight: bold !important;
    fill: red !important;
}

.disease-clinvar-patho {
    font-weight: bold !important;
    fill: red !important;
}

.disease-clinvar-uncertain {
    font-weight: bold !important;
    fill: red !important;
}

.disease-clinvar-benign {
    font-weight: bold !important;
    fill: red !important;
}

.pop-gnomad-hom {
    font-weight: bold !important;
}

.pop-gnomad-het {
    font-weight: bold !important;
}

.pop-mitomap {
    font-weight: bold !important;
}

.pop-helix-hom {
    font-weight: bold !important;
}

.pop-helix-het {
    font-weight: bold !important;
}

.het-gnomad {
    font-weight: bold !important;
    /*fill: red !important;*/
}

.het-helix {
    font-weight: bold !important;
    /*fill: red !important;*/
}

.conserv-phylop{
    font-weight: bold !important;
}

.conserv-phastcons{
    font-weight: bold !important;
}


